<article class="pb-32">
  <pw-page-header class="fixed top-0 left-0 z-40 w-screen"></pw-page-header>

  <header
    class="
      w-full
      p-16
      mb-16
      bg-[url('assets/images/bayanipay/bp-header-image.png')] bg-cover bg-center
    "
  >
    <div class="flex flex-col sm:flex-row justify-center items-center gap-4">
      <span>
        <img class="m-auto" src="assets/images/bayanipay/bp-logo-icon.svg" />
      </span>
      <span>
        <img class="m-auto" src="assets/images/bayanipay/bp-logo-text.svg" />
      </span>
    </div>
  </header>

  <section class="container my-4">
    <h1>Official Websites</h1>
    <ol>
      <li class="list-disc list-outside ml-7 py-1">
        <a href="https://www.bayanipay.com/" target="_blank"> BayaniPay </a>
      </li>
      <li class="list-disc list-outside ml-7 py-1">
        <a href="https://www.facebook.com/BayaniPay/" target="_blank">
          [Facebook] BayaniPay
        </a>
      </li>
    </ol>
  </section>

  <section class="container my-4">
    <h1>Overview</h1>
    <p class="py-2.5 text-justify">
      BayaniPay is an online remittance platform for money sent from the US to
      the Philippines. Is is a partnership among Talino Venture Labs, The Asian
      Journal, Wavemaker Partners, and is the authorized agent of BDO Unibank.,
      the Philippines' largest bank.
    </p>
    <p class="py-2.5 text-justify">
      To date, BayaniPay has processed over $8 million USD remittances since its
      launch last February 2022.
    </p>
  </section>

  <section class="container my-4">
    <h1>My Role</h1>
    <p class="py-2.5 text-justify">
      In this project, my role was to design the frontend architecture, build
      the frontend applications, lead a team of developers, and coordinate
      cross-functionally with various teams.
    </p>

    <div
      class="
        grid grid-flow-dense
        gap-10
        grid-cols-1
        sm:grid-cols-2
        py-4
        mx-auto
        justify-items-center
      "
    >
      <img
        class="sm:justify-self-end"
        src="assets/images/bayanipay/bp-sample-1.png"
      />
      <img
        class="sm:justify-self-start"
        src="assets/images/bayanipay/bp-sample-2.png"
      />
      <img
        class="sm:justify-self-end"
        src="assets/images/bayanipay/bp-sample-3.png"
      />
      <img
        class="sm:justify-self-start"
        src="assets/images/bayanipay/bp-sample-4.png"
      />
    </div>
    <img class="mx-auto" src="assets/images/bayanipay/bp-sample-5.png" />
  </section>
</article>
