<article class="pb-32">
  <!-- <pw-page-header class="fixed top-0 left-0 w-screen"></pw-page-header> -->

  <header
    class="
      w-full
      p-24
      mb-16
      bg-[url('assets/images/up-noah/noah-header-image.png')] bg-cover bg-center
    "
  >
    <div class="flex flex-col sm:flex-row justify-center items-center gap-4">
      <span>
        <img class="m-auto" src="assets/images/up-noah/noah-logo-icon.svg" />
      </span>
      <span>
        <img class="m-auto" src="assets/images/up-noah/noah-logo-text.svg" />
      </span>
    </div>
  </header>

  <section class="container my-4">
    <h1>Official Websites</h1>
    <ol>
      <li class="list-disc list-outside ml-7 py-1">
        <a href="https://noah.up.edu.ph/" target="_blank">
          UP NOAH - Nationwide Operational Assessment of Hazards
        </a>
      </li>
      <li class="list-disc list-outside ml-7 py-1">
        <a href="https://www.facebook.com/UPNOAH/" target="_blank">
          [Facebook] UP NOAH
        </a>
      </li>
      <li class="list-disc list-outside ml-7 py-1">
        <a href="https://github.com/UPRI-NOAH/noah-frontend" target="_blank">
          [Github] UPRI-NOAH/noah-frontend
        </a>
      </li>
    </ol>
  </section>

  <section class="container my-4">
    <h1>Background</h1>
    <p class="py-4 text-justify">The Philippines is a hotbed of disasters.</p>
    <p class="py-4 text-justify">
      Located along the typhoon belt in the Pacific, our country experiences an
      average of 20 typhoons every year. Being situated in the “Pacific Ring of
      Fire” makes our country vulnerable to frequent earthquakes and volcanic
      eruptions. We experience some of the most devastating of typhoons ever
      recorded (Typhoons Yolanda/Haiyan, Pablo/Bopha, among others) claiming
      thousands of lives at their wake.
    </p>
    <p class="py-4 text-justify">
      Project NOAH is a response to the late Philippine President Benigno
      “Noynoy” Aquino's call for a scientific and data-driven efforts to monitor
      and assess potential natural hazards even before they happen. It was
      <a
        target="_blank"
        href="https://www.officialgazette.gov.ph/2012/07/06/project-noah-launch-july-6-2012/"
      >
        launched in 2012
      </a>
      and it has since then been a significant step forward in improving the
      country's disaster risk reduction and management capabilities.
    </p>

    <p class="py-4 text-justify">
      In 2021, we revamped the UP NOAH interface and modernized the tools used
      in evaluating the hazards in an individual's area.
    </p>
    <div class="mx-auto my-4 w-[250px] h-[209px] sm:w-[500px] sm:h-[419px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FUPNOAH%2Fposts%2Fpfbid02WkD9xx2TLGhUvG1jJDsy8THq3yxSghdwG8gZx5G9xKevtrTaTaXc9nWrfK8rJSwgl&show_text=false&width=500"
        class="h-full w-full"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
    </div>
    <p class="py-4 text-justify"></p>
  </section>

  <section class="container my-4">
    <h1>Featured in:</h1>
    <ol>
      <li class="list-disc list-outside ml-7 py-1">
        <a
          target="_blank"
          href="https://interaksyon.philstar.com/trends-spotlights/2021/10/08/201995/up-noah-finally-launches-new-website-with-hazard-assessments-of-philippine-areas/"
          >[PhilStar] UP NOAH finally launches new website with hazard
          assessments of Philippine areas
        </a>
      </li>
      <li class="list-disc list-outside ml-7 py-1">
        <a
          target="_blank"
          href="https://www.rappler.com/newsbreak/iq/159975-project-noah-contribute-ph-disaster-management/"
          >[Rappler] How does Project NOAH contribute to PH’s disaster
          management?
        </a>
      </li>
      <li class="list-disc list-outside ml-7 py-1">
        <a
          target="_blank"
          href="https://www.goodnewspilipinas.com/how-up-noah-helps-build-filipino-resilience-against-disaster/"
          >[Good News Pilipinas] How UP NOAH helps build Filipino resilience
          against disaster</a
        >
      </li>
    </ol>
  </section>

  <section class="container my-4">
    <h1>My Role</h1>
    <p class="py-4 text-justify">
      In this project, I redesigned the overall user interface and user
      experience and I led the development of the website revamp.
    </p>

    <p class="py-4 text-justify">
      I've also had the honor to present the Revamped UP NOAH website during its
      launch last 04 October 2021:
    </p>
    <div class="mx-auto my-4 w-[250px] h-[246px] sm:w-[500px] sm:h-[486px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FUPNOAH%2Fphotos%2Fa.1418956638380807%2F3125135034429617%2F%3Ftype%3D3&show_text=true&width=500"
        class="h-full w-full overflow-hidden border-0"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
    </div>

    <p class="py-4 text-justify">
      And I've also had the honor of presenting it at Pista ng Mapa 2021:
    </p>

    <div class="mx-auto my-4 w-[250px] h-[140px] sm:w-[560px] sm:h-[315px]">
      <iframe
        class="h-full w-full"
        src="https://www.youtube.com/embed/owiipDLqg_U"
        title="YouTube video player | Jadurani Davalos showcasing the Revamped Project NOAH"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </section>
</article>
