<section>
  <small> Hello, my name is </small>
  <h1 class="">Jadurani Davalos.</h1>

  <h2>I'm a Product Developer based in Manila, Philippines.</h2>

  <p>
    I create things that live in the web. Currently I work with Talino Venture
    Labs in building delightful user experiences.
  </p>

  <button>Get In Touch</button>
</section>

<section>
  <h2>About Me</h2>

  <article>
    Hey there! My name is Jadurani and I currently focus on building user
    interfaces that are delightful to use. Here is my most recent tech stack:
    <ul>
      <li>Angular</li>
      <li>Ionic</li>
      <li>Typescript</li>
      <li>Tailwind CSS</li>
      <li>GraphQL (with Hasura)</li>
    </ul>
  </article>

  <!-- Insert photo -->
  <p>
    When I'm not coding or designing, I'm learning how to sing and play the
    piano, how to get better at yoga, or how to survive in the wild as a
    vegetarian.
  </p>

  How to pronounce "Jadurani"

  <!-- insert phonetic spelling and audio here-->
</section>

<section>
  <h2>Get In Touch</h2>
  <article>
    Feel free to shoot me a message at Twitter or send me an email if you want
    to talk about tech, philosophy, or if you want to have work done!
  </article>
</section>
