<section class="h-full flex">
  <div class="m-auto w-9/12">
    <div class="pb-5">
      <small class="text-accent font-medium"> Hello, my name is </small>
      <h1 class="text-3xl lg:text-5xl">Jadurani Davalos.</h1>
    </div>

    <p class="text-lg py-4">
      I'm a Software Engineer based in
      <a href="https://goo.gl/maps/VaEG61sP1Hc9uw6PA" target="_blank"
        >Manila, Philippines</a
      >.
    </p>

    <p class="py-3 lg:w-2/3">
      I create things that live in the web. Currently, I work with
      <a href="https://www.talinolabs.com/" target="_blank"
        >Talino Venture Labs</a
      >
      in building delightful user experiences.
    </p>

    <div class="mt-5">
      <button
        class="
          rounded-full
          border-2 border-accent border-solid
          text-sm
          font-semibold
          text-accent
          py-3
          px-5
          focus:outline-none
          hover:bg-accent-light
        "
      >
        Get In Touch
      </button>
    </div>
  </div>
</section>

<section class="h-full flex flex-col">
  <div class="m-auto w-9/12">
    <h2>About Me</h2>

    <p class="my-4">
      Hey there! My name is Jadurani and I'm a software engineer focused in
      developing front-facing apps. I'm passionate about building
      <strong>beautiful</strong> interfaces that are
      <strong>delightful</strong> to use.
    </p>

    <p class="my-4">Here is my most recent tech stack:</p>

    <ul class="my-4 list-disc list-inside pl-3">
      <li>Angular</li>
      <li>Ionic</li>
      <li>Typescript</li>
      <li>GraphQL (with Hasura)</li>
    </ul>

    <p class="my-4">I use Figma and Photopea for my design needs.</p>

    <!-- photo here -->

    <p>
      When I’m not coding or designing, I’m learning how to sing and play the
      piano, how to get better at yoga, or how to survive in the wild as a
      vegetarian. 🥬
    </p>
  </div>
</section>
