<section class="h-full flex">
  <div class="m-auto w-9/12">
    <div class="pb-5">
      <small class="text-accent"> Hello, my name is </small>
      <h1 class="lg:text-5xl">Jadurani Davalos.</h1>
    </div>

    <p class="text-lg pb-4">
      I'm a Product Developer based in
      <a href="https://goo.gl/maps/VaEG61sP1Hc9uw6PA" target="_blank"
        >Manila, Philippines</a
      >.
    </p>

    <p class="py-3">
      I create things that live in the web. Currently I work with
      <a href="https://www.talinolabs.com/" target="_blank"
        >Talino Venture Labs</a
      >
      in building delightful user experiences.
    </p>

    <div class="mt-5">
      <button
        class="
          rounded-full
          border border-accent border-solid
          text-sm
          font-medium
          text-accent
          py-3
          px-5
          focus:outline-none
          hover:bg-accent-light
        "
      >
        Get In Touch
      </button>
    </div>
  </div>
</section>
